<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat encriptado</title>
    <script src="../static/js/jsrsasign-all-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; }
        #chat-box { width: 400px; height: 400px; border: 1px solid #ccc; overflow-y: scroll; padding: 10px; margin-bottom: 10px; }
        #message-input { width: 350px; padding: 5px; }
        #send-btn { padding: 5px 10px; }
    </style>
</head>
<body>
    

    <div id="chat-box"></div>

    <input type="text" id="message-input" placeholder="Escribe un mensaje">
    <button id="send-btn">Enviar</button>

    <script>
        let privateKey = null; // Clave privada del usuario
        let receiverPublicKey = null; // Clave pública del destinatario (se puede obtener del backend)

        const username = sessionStorage.getItem('usuario');
        const password = sessionStorage.getItem('pass');

        document.getElementById('send-btn').addEventListener('click', async () => {
            const message = document.getElementById('message-input').value;

            // Hacer call al backend para obtener la clave pública del receptor
            /* const response = await fetch('http://localhost:8081/api/v1/get-backend-public-key/');
            const data = await response.json();
            if (response.status === 200) {
                receiverPublicKey = data.public_key;
            } else {
                alert('Error al obtener la clave pública del receptor');
            }
            console.log(receiverPublicKey);
            console.log(message);
            console.log(privateKey);*/
            if (message) {
                console.log('Enviando mensaje...');
                // Enviar mensaje al backend
                await fetch('http://localhost:8081/api/v1/send-message', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        id_chat: 1,
                        id_emisor: 13,
                        id_receptor: 14,
                        mensaje: message,
                    })
                });

                document.getElementById('message-input').value = '';
            } else {
                alert('Escribe un mensaje.');
            }
        });

        // Función para recibir los mensajes
        async function receiveMessages() {
            if (!password || password.trim() === "") {
                console.log("Password está vacío, no se ejecuta la función.");
                return; // Detiene la ejecución si password está vacío
            }
            const response = await fetch('http://localhost:8081/api/v1/get-messages/1/'+username+'/'+password);
            const messages = await response.json();

            //Llega un JSON con los mensajes, de la forma {"messages": [{"contenido": "Hola","enviado_por_ti": true},{"contenido": "Hola","enviado_por_ti": false}]}
            const chatBox = document.getElementById('chat-box');
            chatBox.innerHTML = ''; // Limpiar el contenido del chat antes de añadir los mensajes nuevos

            // Recorre los mensajes y genera HTML para mostrarlos
            for (let message of messages.messages) {
                const messageElement = document.createElement('div');
                messageElement.style.marginBottom = '10px'
                
                // Aplica una clase o estilo diferente dependiendo de si el mensaje fue enviado por el usuario o no
                if (message.enviado_por_ti) {
                    messageElement.style.textAlign = 'right'; // Mensajes enviados por el usuario se alinean a la derecha
                    messageElement.innerHTML = `<span style="background-color: #dcf8c6; padding: 5px 10px; border-radius: 10px; display: inline-block;">${message.contenido}</span>`;
                } else {
                    messageElement.style.textAlign = 'left'; // Mensajes recibidos se alinean a la izquierda
                    messageElement.innerHTML = `<span style="background-color: #f1f0f0; padding: 5px 10px; border-radius: 10px; display: inline-block;">${message.contenido}</span>`;
                }

                // Añade el mensaje al chat
                chatBox.appendChild(messageElement);
            }

            // Auto-scroll para que siempre muestre los mensajes más recientes
            chatBox.scrollTop = chatBox.scrollHeight;
            
        }
        setInterval(receiveMessages, 5000); // Llama a esta función cada 5 segundos para obtener mensajes nuevos
    </script>
</body>
</html>
